
#content {
  width: 600px;
  margin: 50px auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 8px;
  font-family: 'Lobster', sans-serif;
}

.subtext {
  font-size: 18px;
  font-style: italic;
}

h2 {
  font-size: 24px;
  margin: 40px 0 8px 0;
}

body {
font-family: 'Playfair Display', sans-serif;
}

#line {
  position: absolute;
  left: 0;
  right: 0;
  top: 20;
  height: 20px;
  background-color: #0066CC;
}

#line1 {
  margin: 10px auto;
  position: absolute;
  left: 0;
  right: 0;
  /* top: 850; */
  height: 20px;
  background-color: #0066CC;
}

#project-list {
  /* font-size: 40px; */
  display: flex;                  /* Flex box */
  flex-direction: row;            /* Left to right */
  flex-wrap: wrap;                /* Wrap content */
  justify-content: space-between; /* Spread space */
}

.project {
  flex: 0 0 140px;                /* No grow/shrink, 140px width */
  height: 40px;
  margin-bottom: 10px;
  background-color: #0066CC;
}

.project {
  transition: 0.8s background-color; /* add this */
}

.project:hover {
  background-color: #0066CC;
}

#photo {
  /* height: 200px; */
  width: 500px;
  /* border-radius: 50%; */
}

.photo {
  transition: 0.4s background-color; /* add this */
}

.project:hover {
  background-color: #DCDCDC;
}

h1, h2 {
/* color: #0066CC; */
}
